<h1>About</h1>

<div class="mb-3">
    <label for="githubLink1" class="form-label">GitHub NodeJS Express</label>
    <p>
        <a href="https://github.com/TruongChiKhanh2803/tckhanh2100138" id="githubLink1" class="link-primary"
            target="_blank">
            <i class="fab fa-github"></i>
            https://github.com/TruongChiKhanh2803/tckhanh2100138
        </a>
    </p>
</div>

<div class="mb-3">
    <label for="githubLink2" class="form-label">GitHub React</label>
    <p>
        <a href="https://github.com/TruongChiKhanh2803/tckhanh2100138react" id="githubLink2" class="link-primary"
            target="_blank">
            <i class="fab fa-github"></i>
            https://github.com/TruongChiKhanh2803/tckhanh2100138react
        </a>
    </p>
</div>