<h1>Contact</h1>

<div class="mb-3">
    <label for="zaloLink" class="form-label">Zalo Contact</label>
    <p>
        <a href="#" id="zaloLink" class="contact-link link-primary" target="_blank">

            Zalo: 0964 XXX XXX
        </a>
    </p>
</div>
