<h2>User Details</h2>
<p>Username: <%= user.username %>
</p>
<p>Full name: <%= user.fullname %>
</p>
<p>Sex: <%= user.sex %>
</p>
<p>Address: <%= user.address %>
</p>
<a href="/users">Back to List</a>